<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo List</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div ng-app="todoApp" class="container">
  
      <div ng-controller="TodoCtrl">

        <div class="page-header">
          <h1>Todo List</h1>
          <p class="lead">Add items to the list below and mark them as complete 
            when they are done.</p>
        </div>
        <form class="form-inline" role="form">
          <div class="form-group">
            <label for="newItem">What do you need to do?</label>
            <input type="text" id="newItem" class="form-control" ng-model="newTodo"></input>
          </div>
          <button type="submit" class="btn btn-default" ng-click="todoApp.addTodo('Wash car')">Add</button>
        </form>
        
        <div class="row">
          <div class="col-md-6">
            <h2>Do these</h2>
            <todo-list todos="todos" display="pending"></todo-list>
          </div>
          <div class="col-md-6">
            <h2>Completed items</h2>
            <todo-list todos="todos" display="complete"></todo-list>
          </div>
        </div> 
        <!-- row -->
        <h2>All items</h2>
        <todo-list todos="todos" ></todo-list>

        <footer>
          <h4>{{ todos.length }} todo items. <small>{{ todos.length }} complete. {{ todos.length }} pending.</small></h4>
        </footer>

      </div>
      <!-- /TodoCtrl -->

    </div>
    <!-- /ng-app -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- AngularJS for all things awesome -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <!-- Now include your app. -->
    <script src="app.js"></script>
  </body>
</html>
